
body {
    text-align: center;
    margin: 0px;
}

h1 {
    margin:  100px auto 0 auto;
    line-height: 1em;
}

h2 {
    color: #389187;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width: 5px;
    width: 3%;
    margin-top: 100px;
    margin-bottom: 100px;
}

a {
    color: #389187;
    font-weight: bold;
}

.top {
    background-color: #C9E5C5;
    position: relative;
    padding-top: 100px;
    font-family: 'Sacramento', cursive;
    font-size: 2.19rem;
}
.profilephoto {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 270px;
    height: 270px;
}

.background {
    width: 100%;
}

@media (max-width: 368px) {
    .middle {
        width: 80%;
    }
}

@media (min-width: 368px) and (max-width: 768px) {
    .middle {
        width: 70%;
    }
}

@media (min-width: 769px) {
    .middle {
        width: 60%;
    }
}

.middle {
    display: table;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.middle .time {
    font-family: 'Consolas';
}

.skill-left {
    text-align: left;
    margin: 50px auto 50px auto;
    width: 50%;
}

.skill-right {
    text-align: right;
    margin: 50px auto 50px auto;
    width: 50%;
}

.skill-photo {
    width: 15%;
}

@media (max-width: 768px) {
    .skill-photo {
        width: 30%;
    }
}

.skill-gif {
    align-content: center;
    width: 15%;
    margin-right: 20px;
    margin-bottom: auto;
}

@media (max-width: 768px) {
    .skill-gif {
        width: 30%;
    }
}

.gif {
    width: 50%;
}

@media (max-width: 768px) {
    .gif {
        width: 80%;
    }
}

@media (min-width: 769px) {
    .gif {
        width: 50%;
    }
}

.app {
    margin-left: auto;
    margin-bottom: auto;
}

@media (max-width: 768px) {
    .app {
        width: 80%;
    }
}

@media (min-width: 769px) {
    .app {
        width: 50%;
    }
}

.mid {
    font-family: 'EB Garamond';
    font-size: 18px;

}

.mid h2,  h3 {
    font-family: 'Sacramento', cursive;
    font-size: 40px;
}

.bot {
    padding: 30px;
    font-family: 'EB Garamond';
    background-color: #C9E5C5;
    height: 40px;
    margin-bottom: 0px;
    color: black;
    font-weight: 900;
    line-height: 5px;
}

.contact {
    margin-bottom: 50px;
    margin-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 65px;
    transform: scaleX(-1);
}

@media (max-width: 768px) {
    .top-cloud {
        height: 10%;
    }
}

@media (min-width: 769px) {
    .top-cloud {
        height: 15%;
    }
}

.bot-cloud {
    position: absolute;
    left: 20%;
    top: 65px;
}

@media (max-width: 768px) {
    .bot-cloud {
        height: 10%;
    }
}

@media (min-width: 769px) {
    .bot-cloud {
        height: 15%;
    }
}

.button {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: black;
    font-size: 20px;
    font-weight: 100;
    padding: 8px 21px;
    background-color: #C9E5C5;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'EB Garamond';
 }
 
 .button:hover {
    background: #389187;
    border: solid #389187 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
 }